<div class="container">
  <h2 class="header center teal-text">Blog</h2>

  <% if @blogs.length == 0 %>
    <h4 class="header light center">There are no posts yet. Come back soon!</h4>
  <% end %>

    <% @blogs.each do |blog| %>
      <div class="form-container z-depth-3">
        <% if user_signed_in? %>
          <div class="right">
            <%= link_to("/blogs/#{blog.id}/edit") do %>
              <i class="material-icons">edit</i>
            <% end %>
            <%= link_to("/blogs/#{blog.id}", method: :delete, data: {confirm: "Are you sure you want to delete this blog post?"}) do %>
              <i class="material-icons">delete</i>
            <% end %>
          </div>
          <br>
        <% end %>

        <a class="btn-floating btn-large waves-effect waves-light red right
          tooltipped" data-position="left" data-delay="50" data-tooltip="More" href=<%= "/blogs/#{blog.id}" %>>
          <i class="material-icons">add</i>
        </a>
        <h4 class="header light orange-text"><%= blog.title %></h4>
        <h5>Written by: <%= blog.author %></h5>
        <h5><%= blog.created_at.strftime("%A %B %e, %Y") %></h5>
        <h6><%= truncate(blog.content, :length => 400) %></h6>
      </div>
    <% end %>


</div>

