<ul id="slide-out" class="side-nav fixed yellow darken-2">
  <h4 class="header center teal-text light">Blog Archive</h4>
  <% @blogs.each do |blog| %>
    <li class="side-nav-li">
      <%= link_to ("/blogs/#{blog.id}"), class: 'blog-archive-nav-links' do %>
        <span><%= truncate(blog.title, :length => 23) %></span> <span class="header light"> <%= blog.created_at.strftime("%b %Y") %></span>
      <% end %>
    </li>
  <% end %>
</ul>
<div class="container">
  <a href="/blogs" class="waves-effect waves-light btn red lighten-1" id="blog-side-nav-expand-button">Blog Archive</a>
</div>


<div class="container" id="blog-page-main">
  <h2 class="header center teal-text">Blog</h2>

  <div>
    <% if user_signed_in? %>
      <div class="right">
        <%= link_to("/blogs/#{@blog.id}/edit") do %>
          <i class="material-icons">edit</i>
        <% end %>
        <%= link_to("/blogs/#{@blog.id}", method: :delete, data: {confirm: "Are you sure you want to delete this blog post?"}) do %>
          <i class="material-icons">delete</i>
        <% end %>
      </div>
      <br>
    <% end %>

    <div>
      <h4 class="header light orange-text"><%= @blog.title %></h4>
      <h5>Written by: <%= @blog.author %></h5>
      <h5><%= @blog.created_at.strftime("%A %B %e, %Y") %></h5>
      <h6><%= @blog.content %></h6>
    </div>

  </div>
</div>

<script>
$(document).ready(function() {
  $('#header-nav').addClass('narrow-header-nav');
  $('.page-footer').addClass('narrow-page-footer');
});
</script>
