<div class="container text-center">
  <h3 class="header center light">Admin Menu</h3>
</div>

<div class="section" id="admin-nav">
  <div class="row text-center">
    <div class="col s12 m4 center">
      <div class="icon-block">
        <h2 class="center"><i class="material-icons">person_add</i></h2>
        <h5 class="center">Members</h5>
        <%= link_to "Add new member", new_member_path, class: "btn waves-effect waves-light" %>
        <br><br>
        <%= link_to "Current Members", members_path, class: "btn waves-effect waves-light" %>
      </div>
    </div>

    <div class="col s12 m4 center">
      <div class="icon-block">
        <h2 class="center"><i class="material-icons">event</i></h2>
        <h5 class="center">Events</h5>
        <%= link_to "Add New Event", new_event_path, class: "btn waves-effect waves-light" %>
        <br><br>
        <%= link_to "Update Events", events_path, class: "btn waves-effect waves-light" %>
      </div>
    </div>

    <div class="col s12 m4 center">
      <div class="icon-block">
        <h2 class="center"><i class="material-icons">rss_feed</i></h2>
        <h5 class="center">Blog</h5>
        <%= link_to "Add New Blog Post", new_blog_path, class: "btn waves-effect waves-light" %>
        <br><br>
        <%= link_to "Update Blog Posts", blogs_path, class: "btn waves-effect waves-light" %>
      </div>
    </div>

    <div class="col s12 m4 center">
      <div class="icon-block">
        <h2 class="center"><i class="material-icons">group</i></h2>
        <h5 class="center">Board Members</h5>
        <%= link_to "Add Board Member", new_board_member_path, class: "btn waves-effect waves-light" %>
        <br><br>
        <%= link_to "Update Board Members", board_members_path, class: "btn waves-effect waves-light" %>
      </div>
    </div>

    <div class="col s12 m4 center">
      <div class="icon-block">
        <h2 class="center"><i class="material-icons">announcement</i></h2>
        <h5 class="center">Announcements</h5>
        <%= link_to "Add Announcement", new_announcement_path, class: "btn waves-effect waves-light" %>
        <br><br>
        <%= link_to "Update Announcements", announcements_path, class: "btn waves-effect waves-light" %>
      </div>
    </div>
  </div>
</div>

<div class='container center'>
  <% if @offering_discounted_membership %>
    <h5 class='header light'>The discounted membership renewal page is currently live. Anyone with the link can access the page at <%= link_to "https://eatrightatlanta.org/discounted_membership", discounted_membership_path, class: 'red-text', target: :_blank %>.</h5>
    <h6><%= link_to "Turn off discounted membership page", update_settings_path, class: "btn waves-effect waves-light hoverable btn-large red", method: :put %>
      or <%= link_to "Learn More", about_discounted_membership_path, class: 'header purple-text' %>
    </h6>
  <% else %>
    <h5 class='header light'>Is it getting toward the end of the membership year? Has the board decided to offer combined discounts for the remainder of this year and next year's membership dues? </h5>
    <h6><%= link_to "Turn on discounted membership page", update_settings_path, class: 'btn waves-effect waves-light hoverable btn-large green', method: :put %>
      or <%= link_to "Learn More", about_discounted_membership_path, class: 'header purple-text' %>
    </h6>
  <% end %>
</div>

