<script src="https://www.paypal.com/sdk/js?client-id=<%= Rails.application.secrets[:paypal_client_id] %>"></script>

<div class="container center">
  <h3 class="header col s12 light">Join GADA or Renew Your Membership</h3>

  <h5 class="header col s12 light">The GADA membership year runs from <b class='teal-text'>September 1 to August 31</b> annually.</h5>
  <br>
  <%= link_to "Check Current Membership Status", member_search_path, class: "btn-large waves-effect waves-light" %>

  <%= javascript_pack_tag 'registration' %>
  <div
    id='registration-form'
    data-rd-membership-price=<%= Setting.instance&.rd_membership_price %>
    data-student-membership-price=<%= Setting.instance&.student_membership_price %>
    data-dtr-membership-price=<%= Setting.instance&.dtr_membership_price %>
    data-retired-membership-price=<%= Setting.instance&.retired_membership_price %>
    data-subscriber-membership-price=<%= Setting.instance&.subscriber_membership_price %>
    data-offer-sliding-scale-membership-pricing=<%= Setting.instance&.offer_sliding_scale_membership_pricing %>
    data-offer-student-sponsorship=<%= Setting.instance&.offer_student_sponsorship %>
    data-minimum-sliding-scale-rd-membership-price=<%= Setting.instance&.minimum_sliding_scale_rd_membership_price %>
    data-rd-membership-discount=<%= @discounts[:rd_membership_discount] %>
    data-student-membership-discount=<%= @discounts[:student_membership_discount] %>
    data-client-authtoken=<%= ENV['CHECKIN_APP_AUTH_TOKEN'] %>
  ></div>

  <br>
  <h6 class='header red-text'>If you experience any issues with this page, please update your browser to the latest version.</h6>
  <h6 class='header red-text'>If you still have issues, email gadainfo@gadaatl.org.</h6>

  <h6 class="header col s12 light" data-turbolinks="false">PayPal charges an additional fee of less than $2 per membership. The total cost, including fees, will appear before you check out.</h6>
  <h6 class="header col s12 light">Payment or contributions to GADA are not deductible as charitable contributions for federal income purposes.</h6>
  <h6 class="header col s12 light">Our team sometimes shares photos taken at our events on social media. If you plan to attend events but would not like any photos of you to be shared, please email gadainfo@gadaatl.org.</h6>
</div>
