<h2 class="header center orange-text">HOORAY</h2>
<h3 class="header center light">Thank you for joining GADA!</h3>
<br>
<h5 class="center header light teal-text">The GADA membership year runs from September 1 to August 31.</h5>
<h5 class="center header light">You can confirm the status of your membership at any time <b><%= link_to "here", member_search_path, class: 'teal-text' %></b>,</h5>
<h5 class="center header light">though it may take a few days for us to update our records.</h5>
<br>
<h5 class="center header light red-text">If you paid through PayPal, we will use the email address associated with your PayPal account.</h5>
<h5 class="center header light red-text">If you prefer to receive updates at a different email address, <b><%= link_to "let us know", 'mailto:gadainfo@gadaatl.org', class: 'red-text' %></b>!</h5>
<br>
<h6 class="header center" data-turbolinks="false">In the meantime, check out our upcoming <b><%= link_to "events", events_path, class: 'green-text' %></b>, read our <b><%= link_to "blog", blogs_path, class: 'blue-text' %></b>, and get to know your <b><%= link_to "board members", board_members_path, class: 'orange-text' %></b>.</h6>
<h6 class="header center">If you have any questions about GADA or your membership, don't hesitate to <b><a class='red-text' href="mailto:gadainfo@gadaatl.org">email us.</a></b></h6>
