<div class='form-container z-depth-3'>
  <%= form_for @event, :url =>"/events" do |f| %>
    <div class='form'>
      <div class='input-field'>
        <%= f.label :title, "Title" %>
        <%= f.text_field :title %>
      </div>
      <div class='input-field'>
        <%= f.label :date, "Date"%>
        <%= f.text_field :date, :class => "datepicker" %>
      </div>
      <div class='input-field'>
        <%= f.label :time, "Time", :id => "timepicker-label"%>
        <%= f.text_field :time, :class => "timepicker", :id => "timepicker" %>
      </div>
      <div class='input-field'>
        <%= f.label :description, "Description", :id => "event-description-form-text-area" %>
        <%= f.text_area :description, :class => "materialize-textarea" %>
      </div>
      <div class='input-field'>
        <%= f.label :link, "Link", :class => "active" %>
        <%= f.text_field :link, :placeholder => "Optional - Link to external site such as Evite page" %>
      </div>
      <div class='input-field'>
        <%= f.label :link_text, "Link Text", :class => "active"%>
        <%= f.text_field :link_text, :placeholder => "What text should appear to lead to link above? Ex: 'RSVP on evite'" %>
      </div>

      <div class='form_button_container'>
        <%= f.submit "Submit", :class => 'waves-effect waves-light btn-large' %>
      </div>
    </div>
  <% end %>
</div>

