<h2 class="header center orange-text">Meet Your GADA Board of Directors</h2>



<div class="cards-container">
  <% @board_members.each do |board_member| %>
    <div class="card hoverable" id="board_member_card">
      <div class="card-image">
        <%= image_tag("#{board_member.photo}", class: "board-member-photo activator") %>
      </div>
      <div class="card-content">
        <span class="activator teal-text board-member-name"><%= board_member.name %><i class="material-icons right">more_vert</i></span>
        <h6 class="header light"><%= board_member.position %></h6>
        <h6 class="header light"><%= link_to board_member.email, "mailto:#{board_member.email}", :class => 'deep-orange-text' %></h6>
      </div>
      <div class="card-reveal">
        <span class="board-member-name teal-text card-title"><%= board_member.name %><i class="material-icons right">close</i></span>
        <h6 class="header light"><%= board_member.position %></h6>
        <h6 class="header light"><%= board_member.email %></h6>
        <h6><%= simple_format(board_member.description) %></h6>
      </div>
      <% if user_signed_in? %>
        <div class="right">
          <%= link_to("/board_members/#{board_member.id}/edit") do %>
            <i class="material-icons">edit</i>
          <% end %>
          <%= link_to("/board_members/#{board_member.id}", method: :delete, data: {confirm: "Are you sure you want to delete this board member?"}) do %>
            <i class="material-icons deep-orange-text">delete</i>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
