
<div class="container center">
  <h4 class="header col s12 light">Look up your membership using your email address</h4>

  <h5 class="header col s12">The GADA membership year runs from <b class='teal-text'>September 1 through August 31</b> annually</h5>

  <h5 class="header col s12 light blue-text">If you joined online using PayPal, your membership email may be the one you use to log in to PayPal. If you prefer we contact you at a different email address, <b><a href="mailto:gadainfo@gadaatl.org">let us know</a></b>.</h5>

  <h4 class="header center deep-orange-text light"><%= @message %></h4>

  <div class="form-container z-depth-3">
    <%= form_for member_search_results_path, method: :get do |f| %>
      <div class="input-field">
        <%= f.label :email, "Email address" %>
        <%= f.text_field :email, :class => "validate", required: true %>
      </div>
      <%= f.submit "Find", class: "btn waves-effect waves-light"%>
    <% end %>
  </div>

  <h5 class="header col s12 light red-text">If you joined or renewed recently, it may take a few days for your membership status to be updated in our records. Don't hesitate to <b><a href="mailto:gadainfo@gadaatl.org" class='red-text'>email us</a></b> with any membership related concerns.</h5>
  <br><br>
  <span data-turbolinks="false"><%= link_to "Join or Renew", registration_path, class: "btn-large waves-effect waves-light green darken-1" %></span>

</div>
