
<div class="container">
  <h4 class="header col s12">Look up your membership status by email address</h4>

  <h5 class="header col s12">The GADA membership year runs from June 1 through May 31 annually</h5>

  <h6 class="header col s12 light">Please note that if you joined online using PayPal, your GADA membership email address may be the same one you use to log in to PayPal. If you would prefer we contact you at a different email address, <a href="#">let us know</a>.</h6>

  <div class="form-container z-depth-3">
    <%= form_for member_search_results_path, method: :get do |f|%>
      <%= f.label :email, "Email address" %>
      <%= f.text_field :email %>

      <%= f.submit "Submit", class: "btn waves-effect waves-light"%>
    <% end %>
  </div>

  <h4><%= @message %></h4>
  <h6 class="header col s12 light">If you joined recently, it may take a few days for your membership status to be updated in our records. Don't hesitate to <a href="#">email us</a> with any membership related concerns.</h6>

  <%= link_to "Join or Renew", registration_path, class: "btn-large waves-effect waves-light green darken-1" %>

</div>
