<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Greater Atlanta Dietetic Association</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" type="image/x-icon" href="https://i.imgur.com/nLJvnz4.png">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/9836f74c3b.js"></script>
  </head>

  <body>
    <nav class="light-blue lighten-3" role="navigation" id="header-nav">
    <div class="nav-wrapper">
      <%= link_to image_tag("https://i.imgur.com/nLJvnz4.png"), root_path, class: "logo-link brand-logo" %>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="large material-icons">menu</i></a>
      <ul id="header-nav-links" class="right hide-on-med-and-down">
        <li class="header-nav-li">
          <%= link_to(registration_path, class: "nav-link-text waves-effect waves-teal") do %>
            <i class="material-icons" id="blog-icon">person_add</i><span>Membership</span>
          <% end %>
        </li>
        <li class="header-nav-li">
          <%= link_to(events_path, class: "nav-link-text waves-effect waves-teal") do %>
            <i class="material-icons" id="blog-icon">event</i><span>Events</span>
          <% end %>
        </li>
        <li class="header-nav-li">
          <%= link_to(blogs_path, class: "nav-link-text waves-effect waves-teal") do %>
            <i class="material-icons" id="blog-icon">rss_feed</i><span>Blog</span>
          <% end %>
        </li>
        <li class="header-nav-li">
          <%= link_to(board_members_path, class: "nav-link-text waves-effect waves-teal") do %>
            <i class="material-icons" id="blog-icon">group</i><span>Board Members</span>
          <% end %>
        </li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li class="header-nav-li">
          <%= link_to(events_path, class: "nav-link-text waves-effect waves-teal") do %>
            <i class="material-icons" id="blog-icon">event</i><span>Events</span>
          <% end %>
        </li>
        <li class="header-nav-li">
          <%= link_to(blogs_path, class: "nav-link-text waves-effect waves-teal") do %>
            <i class="material-icons" id="blog-icon">rss_feed</i><span>Blog</span>
          <% end %>
        </li>
        <li class="header-nav-li">
          <%= link_to(registration_path, class: "nav-link-text waves-effect waves-teal") do %>
            <i class="material-icons" id="blog-icon">person_add</i><span>Membership</span>
          <% end %>
        </li>
        <li class="header-nav-li">
          <%= link_to(board_members_path, class: "nav-link-text waves-effect waves-teal") do %>
            <i class="material-icons" id="blog-icon">group</i><span>Board Members</span>
          <% end %>
        </li>
        <% if user_signed_in? %>
          <li class="header-nav-li">
            <%= link_to(admin_path, class: "nav-link-text waves-effect waves-teal") do %>
              <i class="material-icons" id="blog-icon">settings</i><span>Website Admin Menu</span>
            <% end %>
          </li>
          <li class="header-nav-li">
            <%= link_to(destroy_user_session_path, method: :delete, class: "nav-link-text waves-effect waves-teal") do %>
              <i class="material-icons" id="blog-icon">close</i><span>Log Out</span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    </nav>

    <% if user_signed_in? %>
    <div class="admin-message">
      <span>Logged in to admin mode as <strong><%= current_user.email %></strong>.</span>
      <span><%= link_to "Admin Menu", admin_path %> | <%= link_to "Logout", destroy_user_session_path, method: :delete %></span>
    </div>
    <% end %>

    <h5 class="notice header center green-text light container"><%= simple_format(notice) %></h5>
    <h5 class="alert header center red-text light container"><%= alert %></h5>

    <%= yield %>

    <footer class="page-footer orange">
      <div class="container">
        <div class="row footer-main">
          <div>
            <ul class='social-links-list'>
              <li>
                <a class="white-text social-links" href="https://www.instagram.com/eatrightatl/">
                  <i class="fa fa-instagram fa-2x hoverable" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a class="white-text social-links" href="https://www.facebook.com/eatrightATL">
                  <i class="fa fa-facebook-square fa-2x hoverable" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a class="white-text social-links" href="https://www.linkedin.com/groups/3785630">
                  <i class="fa fa-linkedin-square fa-2x hoverable" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a class="white-text social-links" href="https://twitter.com/EatRightATL">
                  <i class="fa fa-twitter-square fa-2x hoverable" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <a class="white-text social-links" href="mailto:gadainfo@eatrightatlanta.org">
                  <i class="fa fa-envelope-square fa-2x hoverable" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        <h6 class="white-text header light">&copy; Greater Atlanta Dietetic Association</h6>
        <h6><a class="white-text header light" href="mailto:gadainfo@eatrightatlanta.org">gadainfo@eatrightatlanta.org</a></h6>
        <% if user_signed_in? %>
          Logged in to admin mode as <strong><%= current_user.email %></strong>.
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Website Admin", new_user_session_path, class: 'white-text header light' %>
        <% end %>
        </div>
      </div>
    </footer>
  </body>
</html>
