
<div class="container">
  <h3 class="header center light">Active GADA Members</h3>

  <h6 class="header center light">Current Member Count</h6>
  <ul class="center">
    <li>RDNs: <%= @rd_member_count %></li>
    <li>Students: <%= @student_member_count %></li>
    <li>Total: <%= @active_member_count %></li>
  </ul>


  <table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Membership Type</th>
      <th class="table-icons-column">Edit</th>
    </tr>

    <% @active_members.each do |member| %>
      <tr>
        <td><%= member.first_name %></td>
        <td><%= member.last_name %></td>
        <td><%= member.email %></td>
        <td><%= member.membership_type %></td>
        <td class="edit-member-column">
          <%= link_to("/members/#{member.id}/edit") do %>
            <i class="material-icons">edit</i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>




